<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.appliedengineering.aeinstrumentcluster">
    <!-- Permissions -->
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/aelogo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@drawable/aelogo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".GraphViewActivity"
            android:screenOrientation="landscape"
            android:exported="false" />
        <activity
            android:name=".DetailsActivity"
            android:exported="false" />
        <activity
            android:name=".SettingsActivity"
            android:exported="true" />
        <activity android:name=".UI.HomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>